<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atmosphere</title>
</head>

<!-- Stop flashes of unstyled content -->
<body style="visibility: hidden;" onload="js_Load()">

    <div id="maintitle">
        <p>Atmosphere</p>
    </div>

    

<!-- Stop flashes of unstyled content -->
<script>let js_Load=()=>document.body.style.visibility='visible';</script>
<!-- If user has no javascript set body to visible -->
<noscript><style>body { visibility: visible; }</style></noscript>
</body>


</html>