<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atmosphere</title>
</head>

<!-- Stop flashes of unstyled content -->
<body style="visibility: hidden;" onload="js_Load()">

    <div id="maintitle">
        <p>Atmosphere</p>
    </div>

    <div id="wrapper">
        <div id="location">
            <p>
                Enter location:
            </p>
            <form action="">
                <input id="loctext" type="text" placeholder="City, State, or Zip">
            </form>
            <p id="dynamiclocation">
                TODO: ADD DYNAMIC LOCATION HERE
            </p>
        </div>

        <div id="corf">
            <input id="celsius" type="button" value="celsius">
            <p>or</p>
            <input id="fahrenheit" type="button" value="fahrenheit">
        </div>


    </div>

    <div id="weather">

        <div >

            <p id="rightnow">
                Right Now
            </p>
        
            <div id="weatherinfowrapper">
            
                <div id="temp&loc">

                    <p id="temp">
                        91° F
                    </p>

                    <p id="city">
                        Orlando, FL
                    </p>

                </div>
                <div id="weatherinfo">

                    <p>
                        //WEATHER ICON//
                    </p>

                    <p>
                        Mostly Sunny
                    </p>

                    <p>
                        0% Chance of rain
                    </p>

                </div>
            </div>
        </div>


        <div id="hourly">
            <div id="hourlyheading">
                <p>
                    Hourly
                </p>
            </div>
            

            <div id="hourlywrapper">
                
                <div>
                    <p>
                        12 AM
                    </p>
                    <p>
                        90°
                    </p>
                    <p>
                        Sunny
                    </p>
                    <p>
                        0% chance of rain
                    </p>
                </div>
                
                <div>
                    <p>
                        12 AM
                    </p>
                    <p>
                        90°
                    </p>
                    <p>
                        Sunny
                    </p>
                    <p>
                        0% chance of rain
                    </p>
                </div>

                <div>
                    <p>
                        12 AM
                    </p>
                    <p>
                        90°
                    </p>
                    <p>
                        Sunny
                    </p>
                    <p>
                        0% chance of rain
                    </p>
                </div>

                <div>
                    <p>
                        12 AM
                    </p>
                    <p>
                        90°
                    </p>
                    <p>
                        Sunny
                    </p>
                    <p>
                        0% chance of rain
                    </p>
                </div>

                <div>
                    <p>
                        12 AM
                    </p>
                    <p>
                        90°
                    </p>
                    <p>
                        Sunny
                    </p>
                    <p>
                        0% chance of rain
                    </p>
                </div>

                <div>
                    <p>
                        12 AM
                    </p>
                    <p>
                        90°
                    </p>
                    <p>
                        Sunny
                    </p>
                    <p>
                        0% chance of rain
                    </p>
                </div>

            </div>

        </div>
    </div>
    

<!-- Stop flashes of unstyled content -->
<script>let js_Load=()=>document.body.style.visibility='visible';</script>
<!-- If user has no javascript set body to visible -->
<noscript><style>body { visibility: visible; }</style></noscript>
</body>


</html>